<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Niner-Fit</title>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    {% load static %}
</head>
<body>
    {% include 'navbar.html' %}
    
    <main>
        <div class="main-container">
            <h1>Your Daily Schedule</h1>
            <h2>Chest Day</h2>
            <ul id="workout-list">
                <li>
                    <div>
                        <p>Flat Bench Press</p>
                        <h3>8 reps x 5 sets</h3>
                        <img src="{% static 'images/Flat Bench Press.webp' %}" alt="Flat Bench Press Image">
                    </div>
                </li>
                <li>
                    <div>
                        <p>Incline Bench Press - 8 reps x 5 sets</p>
                        <img src="{% static 'images/Incline Bench Press.webp' %}" alt="Incline Bench Press Image">
                    </div>
                </li>
                <li>
                    <div>
                        <p>Pec Fly Machine - 8 reps x 5 sets</p>
                        <img src="{% static 'images/Pec Fly Machine.jpg' %}" alt="Pec Fly Machine Image">
                    </div>
                </li>
                <li>
                    <div>
                        <p>Tricep Pushdown Machine - 8 reps x 5 sets</p>
                        <img src="{% static 'images/Tricep Pushdown.jpg' %}" alt="Tricep Pushdown Image">
                    </div>
                </li>
                <li>
                    <div>
                        <p>15 minute treadmill walk - 8 speed</p>
                        <img src="{% static 'images/Treadmill.webp' %}" alt="Treadmill Image">
                    </div>
                </li>
            </ul>
        </div>
    </main>
</body>
</html>

