<div class="navbar">
    <ul>
        <li><img src="images/Default Profile Icon.jpg" alt="Profile Icon"></li>
        <li><a href="{% url 'login' %}">Login</a></li>
        <li><a href="{% url 'registration' %}">Registration</a></li>
        <li><a href="{% url 'groups' %}">Groups</a></li>
        <li><a href="{% url 'calendar' %}">Calendar</a></li>
        <li><a href="{% url 'leaderboard' %}">Leaderboards</a></li>
        <li><a href="{% url 'settings' %}">Settings</a></li>
    </ul>
</div>

